<div class="pagination my-2 ml-5">
  <% if (currentUser.isAdmin) { %>

    <% if (weeks.page -1) { %>
      <a href="/admin/weeks?page=<%= weeks.page - 1 %>"><span class="page-btn">&lt;/</span></a>
    <% }; %>
    <% for (let i = 1; i <= weeks.pages; i++) { %>
      <a href="/admin/weeks?page=<%= i %>"
        <%= i === weeks.page ? 'style=color:#000;' : '' %> ><%= i %>        
      </a>
    <% }; %>
    <% if ((weeks.page + 1) <= weeks.pages) { %>
      <a href="/admin/weeks?page=<%= weeks.page + 1 %>"><span class="page-btn">&gt_</span></a>
    <% }; %>

  <% } else { %>

    <% if (weeks.page -1) { %>
      <a href="/weeks?page=<%= weeks.page - 1 %>"><span class="page-btn">&lt;/</span></a>
    <% }; %>
    <% for (let i = 1; i <= weeks.pages; i++) { %>
      <a href="/weeks?page=<%= i %>"
        <%= i === weeks.page ? 'style=color:#000;' : '' %> ><%= i %>        
      </a>
    <% }; %>
    <% if ((weeks.page + 1) <= weeks.pages) { %>
      <a href="/weeks?page=<%= weeks.page + 1 %>"><span class="page-btn">&gt_</span></a>
    <% }; %>

  <% }; %>
</div>